#map {
    position: absolute;
    top: 50px; /* Adjust depending on your title's height */
    left: 10 px;
    right: 400 px; /* Give enough space for the legend on the right */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#legend-container {
    position: absolute;
    top: 60px; /* Same as map top for alignment */
    right: 20px; /* Maintain a margin from the right edge */
    width: 380px;
    min-height: 80px; /* Ensure there's enough height for the content */
    padding: 10px;
	height: 80;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1000; /* High z-index to ensure it is on top */
}

.map-title {
    position: absolute;
    z-index: 999;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

